* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.stop-body{
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.zx-mask {
    overflow: hidden;
    font-size: 15px !important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
}

/*alert  && confirm*/
.dialog-box {
    background: rgba(0, 0, 0, 0.4);
}
.dialog-box > div {
    overflow: hidden;
    position: absolute;
    left: 13.5%;
    top: 50%;
    width: 73%;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -moz-transform: translate(0, -50%); /* Firefox */
    -o-transform: translate(0, -50%); /* Opera */
    -webkit-transform: translate(0, -50%); /* Safari 和 Chrome */
    transform: translate(0, -50%);
}
.dialog-box > div > h1 {
    font-size: 15px !important;
    font-style: normal;
    padding: 15px 10px 10px;
}
.dialog-box > div > p {
    font-size: 14px !important;
    display: block;
    line-height: 20px;
    padding: 0 20px 15px;
}
.dialog-box > div > a {
    font-size: 16px !important;
    display: block;
    line-height: 40px;
    color: #007AFF;
    text-decoration: none;
    border-top: 1px solid #DBDCDC;
}
.dialog-box i {
    font-style: normal;
    float: left;
    width: 50%;
}
.dialog-box i:first-child {
    margin-right: -1px;
    border-right: 1px solid #DBDCDC;
}

/*toast*/
.toast-box {
    font-size: 14px !important;
    position: fixed;
    left: 0;
    top: 50%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    animation: toast-fadein 3s forwards;
    -webkit-animation: toast-fadein 3s forwards;
    z-index: 9999;
}
.toast-box > p {
    overflow: hidden;
    position: relative;
    display: inline-block;
    line-height: 20px;
    max-width: 60%;
    padding: 8px;
    color: #ffffff;
    background: #535353;
    border-radius: 8px;
    -ms-transform: translate(0, -50%);
    -moz-transform:translate(0, -50%);
    -o-transform:translate(0, -50%);
    -webkit-transform:translate(0, -50%);
    transform: translate(0, -50%);
}
@keyframes toast-fadein {
    0% {
        opacity: 0.5;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes toast-fadein {
    0% {
        opacity: 0.5;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/***********************菊花loading效果**************************/
.preLoader {
    background: rgba(0, 0, 0, 0.4);
}
.preLoader > div {
    overflow: hidden;
    font-size: 14px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    min-width: 60px;
    max-width: 200px;
    padding: 8px 15px;
    color: #333;
    background: #E8E8E8;
    border-radius: 8px;
    text-align: center;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -o-transform: translate(-50%, -50%); /* Opera */
    -webkit-transform: translate(-50%, -50%); /* Safari 和 Chrome */
    transform: translate(-50%, -50%);
}
.preLoader > div > p {
    font-size: 14px !important;
    min-width: 80px;
}
.preLoader > div > div {
    position: relative;
    width: 38px;
    height: 38px;
    margin: 0 auto;
}
.preLoader span {
    display: block;
    position: absolute;
    left: 18px;
    top: 16px;
    width: 2px;
    height: 6px;
    opacity: 0;
    background: #777;
    border-radius: 2px;
    -webkit-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite;
}
.min-loader {
    background: rgba(0, 0, 0, 0) !important;
}
.min-loader > div {
    background: #444 !important;
    padding: 8px !important;
}
.min-loader span {
    background: #eeeeee !important;
}

@-webkit-keyframes loading {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}
@keyframes loading {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

.preLoader span:nth-child(1) {
    -webkit-transform: rotate(0deg) translate(0, -9px);
    -webkit-animation-delay: -0s;
}
.preLoader span:nth-child(2) {
    -webkit-transform: rotate(30deg) translate(0, -9px);
    -webkit-animation-delay: -1.8334s;
}
.preLoader span:nth-child(3) {
    -webkit-transform: rotate(60deg) translate(0, -9px);
    -webkit-animation-delay: -1.6668s;
}
.preLoader span:nth-child(4) {
    -webkit-transform: rotate(90deg) translate(0, -9px);
    -webkit-animation-delay: -1.5002s;
}
.preLoader span:nth-child(5) {
    -webkit-transform: rotate(120deg) translate(0, -9px);
    -webkit-animation-delay: -1.3336s;
}
.preLoader span:nth-child(6) {
    -webkit-transform: rotate(150deg) translate(0, -9px);
    -webkit-animation-delay: -1.167s;
}
.preLoader span:nth-child(7) {
    -webkit-transform: rotate(180deg) translate(0, -9px);
    -webkit-animation-delay: -1.0004s;
}
.preLoader span:nth-child(8) {
    -webkit-transform: rotate(210deg) translate(0, -9px);
    -webkit-animation-delay: -0.8338s;
}
.preLoader span:nth-child(9) {
    -webkit-transform: rotate(240deg) translate(0, -9px);
    -webkit-animation-delay: -0.6672s;
}
.preLoader span:nth-child(10) {
    -webkit-transform: rotate(270deg) translate(0, -9px);
    -webkit-animation-delay: -0.5006s;
}
.preLoader span:nth-child(11) {
    -webkit-transform: rotate(300deg) translate(0, -9px);
    -webkit-animation-delay: -0.334s;
}
.preLoader span:nth-child(12) {
    -webkit-transform: rotate(330deg) translate(0, -9px);
    -webkit-animation-delay: -0.1674s;
}

/************************page-loader动画**************************/
.page-loader {
    font-size: 15px !important;
    background-color: white;
}
.page-loader > div {
    overflow: hidden;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 50%;
    margin: 0 auto;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -moz-transform: translate(0, -50%); /* Firefox */
    -o-transform: translate(0, -50%); /* Opera */
    -webkit-transform: translate(0, -50%); /* Safari 和 Chrome */
    transform: translate(0 -50%);
}
.page-loader > div > p {
    text-align: center;
    padding-top: 10px;
}
.page-loader > div > div {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    position: relative;
}
.page-loader > div > div > span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #00AAEF;
    opacity: 0.6;
    -webkit-animation: loadBounce 2.0s infinite ease-in-out;
    animation: loadBounce 2.0s infinite ease-in-out;
}
.page-loader > div > div > span:last-child {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes loadBounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes loadBounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
/*清除*/
.clear-page-loader {
    -webkit-animation: clear-load 0.5s forwards;
    animation: clear-load 0.5s forwards;
}
@keyframes clear-load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes clear-load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*view-image*/
.view-image {
    display: none;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
}
.view-image > div {
    position: relative;
    display: -webkit-box !important;
    display: box !important;
    -webkit-box-align: center;
    box-align: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.view-image > div > div {
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.view-image > div > p {
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

.view-image > div > p > img {
    vertical-align: middle;
}
/*图片loading效果*/
.view-loadimg {
    font-size: 13px !important;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    /*background: #999;*/
    text-align: center;
}
.view-loadimg > div {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.view-loadimg > div > span, .view-loadimg > div > span:after {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.view-loadimg > div > span {
    display: block;
    position: relative;
    margin: 0 auto;
    border-top: 3px solid rgba(255, 255, 255, 0.3);
    border-right: 3px solid rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    border-left: 3px solid #ffffff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load-img 1s infinite linear;
    animation: load-img 1s infinite linear;
}
@-webkit-keyframes load-img {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load-img {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


